@font-face {
  font-family: 'tm-icons';
  src:  url('../fonts/tm-icons.eot?cewdjy');
  src:  url('../fonts/tm-icons.eot?cewdjy#iefix') format('embedded-opentype'),
    url('../fonts/tm-icons.ttf?cewdjy') format('truetype'),
    url('../fonts/tm-icons.woff?cewdjy') format('woff'),
    url('../fonts/tm-icons.svg?cewdjy#tm-icons') format('svg');
  font-weight: normal;  
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tm-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question-circle:before {
  content: "\f059";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-lock-closed:before {
  content: "\e901";
}
