$light-gray: rgba(158, 158, 158, 0.54);//#d1d1d1;
$athens-gray: #EEF2F4;
$aquamarine: #54C7C3;
$darker-gray: #5D6F78;
$error: #e4575a; //#fe777a;
$info: #ddf4ff;

$border-normal: 1px solid $light-gray;
$border-invalid: 1px solid $error;
