html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    &, input, label, .currency{
        color: darken($darker-gray, 20);
    }
}
#payment-form{    
    max-width: 330px;
    h1{
        margin: 0;
        border-radius: 10px 10px 0 0;
        text-align: center;
        padding: 1.4rem .8rem;
        background: $athens-gray;
        border: $border-normal;
        font-weight: 400;
        color: $darker-gray;
        font-size: 1.5rem;
    }
}
form{
    border-radius: 0 0 10px 10px;
    border: $border-normal;
    border-top: none;
    padding: 2rem;   
    label{
        font-weight: bold;
    }
    > p{
        width: 100%;        
        position: relative;
        margin: 1rem 0;
        &.help{
            .tooltip-info{
                opacity: 1;
                z-index: 2;
            }
        }
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    input{
        border-radius: 4px;        
        box-sizing: border-box;
        &:not(#amount):not(#submit){                    
           padding: .6rem;
        }
    }
    input:not(#amount):not(#submit){
        margin: .2rem 0;
        border: $border-normal;
        width: 100%;
        &:active, &:focus{
            background: lighten($aquamarine, 40);
            outline: none;
            border:  1px solid lighten($aquamarine, 10);
        }
    }
    .click-to-edit{
        &.editing{
            input{
                background: $aquamarine;
                outline: none;
                border: 1px solid lighten($aquamarine, 20);
                color: rgba(255, 255, 255, 0.6);                
            }
            .currency{
                color: white;
                opacity: .6;
            }
        }
    }
    #payment{
        display: grid;
        grid: auto auto/70% 30%;
        width: 100%;
        justify-content: space-between;
        position: relative;
        label{
            grid-column: 1/3;
            grid-row: 1/2;
            margin: .2rem 0;
        }
        #amount, .currency{
            font-size: 1.5rem;            
            font-weight: 100;
        }
        #amount{            
            padding-left: 17px;
            border: none;
            max-width: 100%;
            grid-column: 1/2;
            grid-row: 2/3;
            &:hover, &:focus{
                border: none;
                outline: none;
            }
        }
        .currency{
            grid-row: 2/3;
            grid-column: 1/2;
            z-index: 1;
            align-self: center;
            transform: translateY(-1px);
            max-width: 17px;
        }
        button{
            grid-column: 2/3;
            text-align: center;
            width: min-content;
            padding: .4rem;
            justify-self: end;
            min-width: 61px;
        }
    }
 
    .two-columns{
        display: grid;
        grid: auto / 50% 50%;
        span{
            margin: 0;            
            display: grid;
            grid: auto/auto;  
            input{          
                &:active,&:focus{
                    border: 1px solid lighten($aquamarine, 20)!important;
                }                
            }
            &.left{
                grid-column: 1/2;
                input{
                    border-radius: 4px 0 0 4px;
                    margin: .2rem -1% .2rem 0;
                    width: 101%!important;
                    &:active,&:focus{
                        border: 1px solid lighten($aquamarine, 20)!important;
                        width: 100%!important;
                        margin: .2rem 0 .2rem 0;
                    }   
                }
            }
            &.right{
                grid-column: 2/3;
                input{
                    border-radius: 0 4px 4px 0;
                }
            }
        } 
    }
    /* Buttons */
    button{
        letter-spacing: .4px;  
        border-radius: 4px;       
        padding: .4rem 1.2rem;       
        box-shadow: none;
        line-height: 1.6;
        font-size: 1.1rem; 
        font-weight: 100; 
        cursor: pointer;
        &:hover, &:focus{
            outline: none;          
        }
        &[type="submit"]{
            background: $aquamarine;
            color: white;
            position: relative;
            border: none;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: .6rem 1.2rem; 
            i{
                margin-right: 5px;
            }
            &:hover, &:focus{
                background: darken($aquamarine, 8);                
            }
            &:active{
                background: darken($aquamarine, 12);    
            }
        }
    }
    .edit{
        border: $border-normal;
        background: transparent;
        &:hover{
            background: $athens-gray;
        }
    }

    /* Tooltips */
    .tooltip{
        position: absolute;
        bottom: 12px;
        right: 6px;
        font-size: 1.2em;
        color: $light-gray;
    }
    .tooltip-info{
        position: absolute;
        bottom: 2.8em;
        right: 0;
        width: 95%;
        background: $info;
        padding: 1rem;
        z-index: 1;
        border-radius: 4px;
        font-weight: 400;
        line-height: 1.5;
        transition: .2s;
        box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.74);
        opacity: 0;
        z-index: -1;
        &:after{
            content: "";
            width: 0;
            height: 0;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-top: 22px solid #ddf4ff;
            position: absolute;
            bottom: -14px;
            right: 8px;
            transform: rotate(-15deg);
        }
    }
}
/* Form Validation */
.error-message{
    display: none;
}
.has-error{
    position: relative;
    &:not(#payment):after{
        content: "\f12a";
        font-family: tm-icons;
        background: $error;
        position: absolute;
        bottom: 14.5px;
        left: 7px;
        font-size: .7em;
        padding: 2px 5px;
        color: white;
        font-weight: 100;
        border-radius: 4px;     
        transition: .2s;   
    }    
    input{
        border: $border-normal;
    }   
    .error-message{      
        color: $error;
        padding: 3px 0;
        font-size: 1em;
        font-weight: normal;
        display: block;
    }
    &:hover{
        .form-error{
            opacity: 1;
        }
    }
    &#payment{
        input{
            border-bottom: 1px solid $error!important;
            border-radius: 0;
        }
        .currency{
            color: $error;
        }
    }
}
