
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
/* INPUT PLACEHOLDERS  - keep them at the bottom of CSS*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: darken($light-gray, 15);
    opacity: 1;
    font-size: .9rem;    
    font-family: "Open Sans", sans-serif!important;  
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $light-gray;
    opacity: 1;
    font-size: .9rem;
    font-family: "Open Sans", sans-serif!important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $light-gray;
    opacity: 1;
    font-size: .9rem;
    font-family: "Open Sans", sans-serif!important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $light-gray;
    opacity: 1;
    font-size: .9rem;
    font-family: "Open Sans", sans-serif!important;
  }

  .has-error input{
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      padding-left: 1.1rem;    
      font-family: "Open Sans", sans-serif!important;  
    }
    &::-moz-placeholder { /* Firefox 19+ */
      padding-left: 1.1rem;
      font-family: "Open Sans", sans-serif!important;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      padding-left: 1.1rem;
      font-family: "Open Sans", sans-serif!important;
    }
    &:-moz-placeholder { /* Firefox 18- */
      padding-left: 1.1rem;
      font-family: "Open Sans", sans-serif!important;
    }
    &:not([name="expiration"]){
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $error;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $error;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $error;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $error;
      }
      
    }
  }

